# Set the default ros output to warning and higher
log4j.logger.ros=INFO
# Override my package to output everything
log4j.logger.ros.smpl.heuristic.bfs=INFO
log4j.logger.ros.smpl.heuristic.bfs_fullbody=INFO
log4j.logger.ros.smpl.heuristic.euclid_dist=INFO
log4j.logger.ros.smpl.heuristic.euclid_diff=INFO
log4j.logger.ros.smpl.heuristic.bfs_fullbody=INFO

# Search
log4j.logger.ros.smpl.search.miastar=DEBUG
log4j.logger.ros.smpl.search.miastar.init=DEBUG
log4j.logger.ros.smpl.search.miastar.expansions=INFO

# Graph
log4j.logger.ros.smpl.graph=INFO
log4j.logger.ros.smpl.graph.expansions=INFO
log4j.logger.ros.smpl.graph.successors=INFO

log4j.logger.ros.smpl.graph.manip_lattice_island.init=DEBUG
log4j.logger.ros.smpl.graph.manip_lattice_island.precomputing_edge_costs=INFO
log4j.logger.ros.smpl.graph.manip_lattice_island.proximity=INFO


# Collision checker
log4j.logger.ros.sbpl_collision_checking=DEBUG
log4j.logger.ros.sbpl_collision_checking.robot_model=DEBUG
log4j.logger.ros.sbpl_collision_checking.world=DEBUG
log4j.logger.ros.sbpl_collision_checking.cspace=DEBUG

# Planner interface
log4j.logger.ros.smpl_ros.ros.critical_planner_interface=DEBUG
